In [1]:
import pandas as pd
import numpy as np
import time

In [26]:
data_path = 'data - depression/'  
daily_threshold = 10

# condition_1

In [37]:
my_file = data_path + 'condition/condition_1.csv'
df_cond1 = pd.read_csv(my_file)
df_cond1.head(10)

             timestamp        date  activity
0  2003-05-07 12:00:00  2003-05-07         0
1  2003-05-07 12:01:00  2003-05-07       143
2  2003-05-07 12:02:00  2003-05-07         0
3  2003-05-07 12:03:00  2003-05-07        20
4  2003-05-07 12:04:00  2003-05-07       166
5  2003-05-07 12:05:00  2003-05-07       160
6  2003-05-07 12:06:00  2003-05-07        17
7  2003-05-07 12:07:00  2003-05-07       646
8  2003-05-07 12:08:00  2003-05-07       978
9  2003-05-07 12:09:00  2003-05-07       306

In [38]:
# group by date of condition1.csv
df_cond1_by_date = df_cond1.groupby(['date'], as_index=False).agg(
        n=pd.NamedAgg(column='activity', aggfunc='count'),
        mean_act=pd.NamedAgg(column='activity', aggfunc='mean'),
        rms_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.sqrt(np.mean(x**2))),
        std_act=pd.NamedAgg(column='activity', aggfunc='std'),
        skewness_act=pd.NamedAgg(column='activity', aggfunc='skew'),
        kurtosis_act=pd.NamedAgg(column='activity', aggfunc=lambda x: x.kurtosis()),
        shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
        crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
        impulse_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(np.abs(x))),
        peak_activity=pd.NamedAgg(column='activity', aggfunc='max'),
        variance_act=pd.NamedAgg(column='activity', aggfunc='var'),
        autocorrelation_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.corrcoef(x[:-1], x[1:])[0, 1]),
    )

    
# remove incomplete days from stats
df_cond1_by_date = df_cond1_by_date[df_cond1_by_date.n==1440] 
# 1440 = 24*60 minutes in a day
df_cond1_by_date

,date,n,mean_act,rms_act,std_act,skewness_act,kurtosis_act,shape_factor_act,crest_factor_act,impulse_factor_act,peak_activity,variance_act,autocorrelation_act
1,2003-05-08,1440,156.247222,277.250847,229.109777,2.017975,5.816912,3.148627,7.047769,1954,1954,52491.289777,0.697114
2,2003-05-09,1440,124.135417,244.952018,211.241278,2.485646,7.581422,3.893773,6.825827,1672,1672,44622.877411,0.661777
3,2003-05-10,1440,134.961806,267.428000,230.954732,3.002992,12.496527,3.926377,8.024590,2146,2146,53340.088186,0.671603
4,2003-05-11,1440,99.439583,203.594414,177.719972,3.279512,18.290822,4.191921,10.216390,2080,2080,31584.388286,0.564451
5,2003-05-12,1440,316.874306,588.589633,496.184847,2.041789,4.700157,3.450255,5.990591,3526,3526,246199.402536,0.799103
6,2003-05-13,1440,108.475694,229.598909,202.428108,3.847447,25.434879,4.479966,9.947782,2284,2284,40977.139089,0.605864
7,2003-05-14,1440,155.684722,296.544998,252.478655,2.502933,7.696399,3.628183,6.191303,1836,1836,63745.471066,0.726557
8,2003-05-15,1440,170.877083,315.753577,265.613134,2.070829,4.470300,3.414514,5.463121,1725,1725,70550.337209,0.707525
9,2003-05-16,1440,190.508333,336.394368,277.346648,2.076323,5.341733,3.117952,5.992966,2016,2016,76921.163238,0.693202
10,2003-05-17,1440,177.760417,339.411997,289.240099,2.151778,4.932017,3.645728,5.580239,1894,1894,83659.834846,0.795918
11,2003-05-18,1440,97.729167,222.391881,199.837162,3.223642,14.709348,5.178327,9.352859,2080,2080,39934.891157,0.654552
12,2003-05-19,1440,168.102778,364.618486,323.667803,2.901485,10.761182,4.704653,7.092345,2586,2586,104760.846969,0.797075
13,2003-05-20,1440,111.488194,229.890226,201.116850,2.419293,6.139615,4.251902,5.480877,1260,1260,40447.987352,0.721510
14,2003-05-21,1440,199.597222,591.663531,557.173462,3.833252,14.394225,8.787000,5.776932,3418,3418,310442.267122,0.891619
15,2003-05-22,1440,71.112500,232.745698,221.692811,3.977678,16.314336,10.712021,6.535030,1521,1521,49147.702415,0.827668

In [8]:
import pandas as pd
import numpy as np

data_path = 'data - depression/'

# Process individual condition files
for i in range(1, 24):
    my_file = data_path + 'condition/condition_' + str(i) + '.csv'
    df_cond = pd.read_csv(my_file)

    # group by date of condition.csv
    df_cond_by_date = df_cond.groupby(['date'], as_index=False).agg(
        n=pd.NamedAgg(column='activity', aggfunc='count'),
        mean_act=pd.NamedAgg(column='activity', aggfunc='mean'),
        rms_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.sqrt(np.mean(x**2))),
        std_act=pd.NamedAgg(column='activity', aggfunc='std'),
        skewness_act=pd.NamedAgg(column='activity', aggfunc='skew'),
        kurtosis_act=pd.NamedAgg(column='activity', aggfunc=lambda x: x.kurtosis()),
        shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
        crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
        impulse_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(np.abs(x))),
        peak_activity=pd.NamedAgg(column='activity', aggfunc='max'),
        variance_act=pd.NamedAgg(column='activity', aggfunc='var'),
        autocorrelation_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.corrcoef(x[:-1], x[1:])[0, 1]),
    )

    # remove incomplete days from stats
    #24*60 = 1440
    df_cond_by_date = df_cond_by_date[df_cond_by_date.n == 1440]

    # Add a new column "Label" with the value "condition"
    df_cond_by_date['Label'] = 'condition'

    # save extracted features to csv file
    df_cond_by_date.to_csv('C:/Users/hp/TDF/condition/condition_' + str(i) + '_features.csv', index=False)

# Concatenate individual condition feature files
all_features = pd.DataFrame()

for i in range(1, 24):
    my_file = 'C:/Users/hp/TDF/condition/condition_' + str(i) + '_features.csv'
    df_cond_features = pd.read_csv(my_file)

    all_features = all_features.append(df_cond_features)

# Add a new column "Label" with the value "condition" to the concatenated DataFrame
all_features['Label'] = 'condition'

# Save the concatenated DataFrame to a new CSV file
all_features.to_csv('TDF_CONDITION.csv', index=False)

C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\3761988157.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_features = all_features.append(df_cond_features)

In [7]:
import pandas as pd
import numpy as np
import glob

data_path = 'data - depression/'

for i in range(1, 33):
    my_file = data_path + 'control/control_' + str(i) + '.csv'
    df_control = pd.read_csv(my_file)

    # group by date of condition.csv
    df_control_by_date = df_control.groupby(['date'], as_index=False).agg(
        n=pd.NamedAgg(column='activity', aggfunc='count'),
        mean_act=pd.NamedAgg(column='activity', aggfunc='mean'),
        rms_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.sqrt(np.mean(x**2))),
        std_act=pd.NamedAgg(column='activity', aggfunc='std'),
        skewness_act=pd.NamedAgg(column='activity', aggfunc='skew'),
        kurtosis_act=pd.NamedAgg(column='activity', aggfunc=lambda x: x.kurtosis()),
        shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
        crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
        impulse_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(np.abs(x))),
        peak_activity=pd.NamedAgg(column='activity', aggfunc='max'),
        variance_act=pd.NamedAgg(column='activity', aggfunc='var'),
        autocorrelation_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.corrcoef(x[:-1], x[1:])[0, 1]),
    )

    # remove incomplete days from stats
    df_control_by_date = df_control_by_date[df_control_by_date.n == 1440]

    # Add a new column "Label" with the value "control"
    df_control_by_date['Label'] = 'control'

    # save extracted features to csv file
    df_control_by_date.to_csv('C:/Users/hp/TDF/control/control_' + str(i) + '_features.csv', index=False)

# Path to the directory containing the CSV files
folder_path = 'C:/Users/hp/TDF/control'

# Use glob to get a list of all CSV files in the directory
csv_files = glob.glob(f'{folder_path}/*.csv')

# Initialize an empty DataFrame to store the concatenated data
all_data = pd.DataFrame()

# Loop through the list of CSV files and concatenate them
for file in csv_files:
    df = pd.read_csv(file)
    all_data = pd.concat([all_data, df], ignore_index=True)

# Add a new column "Label" with the value "control" to the concatenated DataFrame
all_data['Label'] = 'control'

# Save the concatenated DataFrame to a new CSV file
all_data.to_csv('TDF_CONTROL.csv', index=False)

C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:19: RuntimeWarning: invalid value encountered in scalar divide
  shape_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.mean(x**2) / (np.mean(x)**2)),
C:\Users\hp\AppData\Local\Temp\ipykernel_12240\1389130883.py:20: RuntimeWarning: invalid value encountered in scalar divide
  crest_factor_act=pd.NamedAgg(column='activity', aggfunc=lambda x: np.max(x) / np.sqrt(np.mean(x**2))),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]

In [9]:
import pandas as pd

def concatenate_csv(file1, file2, output_file):
    # Read the CSV files into pandas DataFrames
    df1 = pd.read_csv(file1)
    df2 = pd.read_csv(file2)

    # Concatenate the DataFrames vertically (axis=0 means along the rows)
    concatenated_df = pd.concat([df1, df2], axis=0, ignore_index=True)

    # Write the concatenated DataFrame to a new CSV file
    concatenated_df.to_csv(output_file, index=False)

# Example usage
file1_path = 'TDF_CONDITION.csv'
file2_path = 'TDF_CONTROL.csv'
output_file_path = 'TDF_control_condition.csv'

concatenate_csv(file1_path, file2_path, output_file_path)

In [1]:
import pandas as pd

file = pd.read_csv('TDF_control_condition.csv')
file

,date,n,mean_act,rms_act,std_act,skewness_act,kurtosis_act,shape_factor_act,crest_factor_act,impulse_factor_act,peak_activity,variance_act,autocorrelation_act,Label
0,2003-05-08,1440,156.247222,277.250847,229.109777,2.017975,5.816912,3.148627,7.047769,1954,1954,52491.289777,0.697114,condition
1,2003-05-09,1440,124.135417,244.952018,211.241278,2.485646,7.581422,3.893773,6.825827,1672,1672,44622.877411,0.661777,condition
2,2003-05-10,1440,134.961806,267.428000,230.954732,3.002992,12.496527,3.926377,8.024590,2146,2146,53340.088186,0.671603,condition
3,2003-05-11,1440,99.439583,203.594414,177.719972,3.279512,18.290822,4.191921,10.216390,2080,2080,31584.388286,0.564451,condition
4,2003-05-12,1440,316.874306,588.589633,496.184847,2.041789,4.700157,3.450255,5.990591,3526,3526,246199.402536,0.799103,condition
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,2003-11-26,1440,48.894444,153.146698,145.182237,4.168815,19.588173,9.810615,8.233935,1261,1261,21077.881832,0.786949,control
1025,2003-11-27,1440,5.781250,10.493417,8.760265,37.275048,1405.920849,3.294507,32.020074,336,336,76.742247,0.036032,control
1026,2003-11-28,1440,6.401389,6.466581,0.916226,-0.877397,-1.231887,1.020472,1.082489,7,7,0.839470,0.686785,control
1027,2003-11-29,1440,6.887500,6.902898,0.460968,-3.855950,12.886245,1.004476,1.014067,7,7,0.212491,-0.059647,control
1028,2003-11-30,1440,7.000000,7.000000,0.000000,0.000000,0.000000,1.000000,1.000000,7,7,0.000000,NaN,control